@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-black: #0D2B4E;
  --color-zinc-950: #0D2B4E;
  --color-zinc-900: #1E3A6D;
  --color-zinc-800: #2D5B8A;
  --color-yellow-500: #C8A64D;
  --color-yellow-400: #D8BF72;
  --color-white: #F7F4EC;
  --color-gray-400: #D8C8A5;
  --color-gray-300: #D8C8A5;
  --color-gray-500: #2D5B8A;
}

/* Font Classes */
.font-jost {
  font-family: "Jost", sans-serif;
}

.font-corm {
  font-family: "Cormorant Garamond", serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #fbfbfb;
  color: #F7F4EC;
}

.swiper-button-next,
.swiper-button-prev {
  color: #c8a64d !important;
  transform: scale(0.7);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #0d2b4e !important;
}

.unique-experience-slider .swiper-slide {
  transition: all 0.8s ease;
}

.unique-experience-slider .swiper-slide-active {
  transform: translateY(-40px);
}

.unique-experience-slider .swiper-slide-prev,
.unique-experience-slider .swiper-slide-next {
  transform: translateY(0);
}

.unique-experience-slider .swiper-wrapper {
  align-items: center;
}